/** @format */

.navbar-container {
  width: 100%;
  height: auto;
}
.navbar-contents {
  width: 100%;
  padding: 0.4rem 0;
  min-height: 4rem;
}
.navbar-items {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
  ul {
    display: flex;
    justify-content: space-around;
    width: 45%;
    padding-left: 0;
    li {
      font-family: sans_reg;
      list-style-type: none;
      padding: 0.7rem;
      margin: 0 0.5rem;
      font-size: 1.2rem;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        padding: inherit;
        &:hover {
          color: rgb(22, 6, 250);
        }
      }
      &:active {
        transform: scale(0.85);
      }
    }
    li:last-child {
      font-family: sans_med;
    }
  }
}
@media screen and(max-width:1550px) {
  .navbar-items {
    ul {
      justify-content: space-between;
      width: 50%;
    }
  }
}
@media screen and(max-width:1300px) {
  .navbar-items {
    ul {
      justify-content: space-between;
      width: 60%;
    }
  }
}
@media screen and(max-width:1100px) {
  .navbar-items {
    padding-right: 0;
    padding-top: 0.2rem;
    ul {
      justify-content: center;
      width: 80%;
      margin: 0 auto;
    }
  }
}
