/** @format */

.navbar-container {
  width: 100%;
  height: auto;
}
.navbar-contents {
  width: 100%;
  padding: 0.4rem 0;
  min-height: 4rem;
}

.navbar-items {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
  ul {
    display: flex;
    justify-content: space-around;
    width: 45%;
    padding-left: 0;
    li {
      font-family: sans_reg;
      list-style-type: none;
      padding: 0.7rem;
      margin: 0 0.5rem;
      font-size: 1.2rem;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
      cursor: pointer;

      a {
        text-decoration: none;
        color: inherit;
        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        padding: inherit;
        &:hover {
          color: rgb(22, 6, 250);
        }
      }
      &:active {
        transform: scale(0.85);
      }
    }
    li:last-child {
      font-family: sans_med;
    }
  }
}
@media screen and(max-width:1550px) {
  .navbar-items {
    ul {
      justify-content: space-between;
      width: 50%;
    }
  }
}
@media screen and(max-width:1300px) {
  .navbar-items {
    ul {
      justify-content: space-between;
      width: 60%;
    }
  }
}
@media screen and(max-width:1100px) {
  .navbar-contents {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    z-index: 45;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
    opacity: 0;
  }
  .navbar-contents-active {
    left: 0;
    opacity: 1;
  }

  .navbar-items {
    padding-right: 0;
    padding-top: 0.2rem;
    width: 100%;
    height: 70%;
    ul {
      width: 100%;
      margin: 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.1rem 0;
      li {
        font-size: 1.32rem;
        letter-spacing: 0.8px;
        animation: FadeIn 1s ease-in-out;
        animation-fill-mode: both;
      }
    }
  }
  @keyframes FadeIn {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1) translateX(0);
    }
  }
  .navbar-mobile {
    position: fixed;
    right: 1.55rem;
    top: 1.7rem;
    width: 28px;
    height: 30px;
    cursor: pointer;
    z-index: 50;

    span {
      display: block;
      width: 90%;

      height: 0.1rem;
      background-color: rgb(245, 245, 245);
      margin: 0.3rem auto;
      padding: 0.025rem 0;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  .navbar-mobile-active {
    span {
      transform: rotate(45deg);
    }
    span:nth-child(2) {
      transform: rotate(-45deg);
      margin: 0;
      position: relative;
      bottom: 0.4rem;
    }
    span:nth-child(3) {
      opacity: 0;
    }
  }
  .nav-circle {
    position: fixed;
    right: 0rem;
    top: 0rem;
    z-index: 40;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.993);
    padding: 0.4rem 0.6rem 0.7rem;

    clip-path: circle(24px at calc(100% - 39px) 41.5px);
    transition: all 0.7s ease-in-out;
  }
  .nav-circle-active {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    clip-path: circle(200% at 94.4% 7.3%);
    border-radius: 0;
  }
}
