/** @format */

.userevent-container {
  width: 100%;
  height: auto;
}
.userevent-contents {
  width: 100%;
  padding: 3% 0 15%;
  text-align: center;
  h6 {
    font-size: 2.6rem;
    font-family: sans_reg;
    margin: 0rem 0 0.9rem;
  }
  .userevent-span {
    display: block;
    width: 60%;
    font-size: 1.1rem;

    margin: 0 auto;
    margin-top: 2.2rem;
    font-family: sans_med;
    opacity: 0.7;
  }
}
.input-bar {
  width: 30rem;
  position: relative;
  margin: 2.8rem auto 0;

  display: flex;
  align-items: center;
  input {
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-family: sans_med;
    border-right: 0;
    font-size: 1.1rem;
    &::placeholder {
      font-size: 1.1rem;
    }
  }
  .submit-text {
    border: 2px solid black;
    font-family: sans_med;
    background-color: black;
    color: white;
    align-self: stretch;
    width: 10rem;
    display: grid;
    place-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:active {
      transform: scale(0.95);
    }
  }
}
.err {
  display: block;
  padding-top: 0.4rem;
  color: red;
  font-family: snas_light;
}
@media screen and(max-width:726px) {
  .userevent-container {
    display: grid;
    place-content: center;
  }
  .input-bar {
    width: 90%;
    margin-top: 2rem;
    input {
      padding: 0.8rem 1rem;
    }
  }
  .userevent-contents {
    padding: 15% 0 20%;
    h6 {
      width: 95%;
      margin: 0 auto;
      font-size: 2.2rem;
    }
    .userevent-span {
      font-size: 1.1rem;
      width: 95%;
      margin-top: 1.2rem;
    }
  }
}
